<!DOCTYPE html>

<head>
    <title>Transactions</title>
</head>
<body>
<h1>Transactions</h1>
<ul>
    <li th:each="transaction : ${transactions}">
        Transaction ID: <span th:text="${transaction.id}"></span><br>
        Sender: <span th:text="${transaction.sender.firstName}"></span> <span th:text="${transaction.sender.lastName}"></span><br>
        Recipient: <span th:text="${transaction.recipient.firstName}"></span> <span th:text="${transaction.recipient.lastName}"></span><br>
        Amount: <span th:text="${transaction.amount}"></span><br>
        Currency: <span th:text="${transaction.currency}"></span><br>
        Date: <span th:text="${transaction.date}"></span><br><br>
    </li>
</ul>

</body>
</html>
